<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Previsualización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true" scrollY="true">
<table border="1" class="data-table">
<tr>
  <td *ngFor="let header of headerRow" text-center><b>
    {{ header }}
  </b></td>
</tr>

<tr *ngFor="let row of csvData; let i=index">
  <td *ngFor="let data of row; let j = index; trackBy: trackByFn" class="data-col">
<ion-input type="text"[(ngModel)]="csvData[i][j]"></ion-input>
  </td>

</tr>

</table>
</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="volver()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="exportCSV()" color="danger">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>